@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    font-family: "Inter", sans-serif;
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin: 0 auto;
    background:black;
}
.dancing{
    font-family: "Dancing Script", cursive;
}
/* here is my common and reset code stars here */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu-common{
    color: rgb(255, 255, 255);

   font-size: 1.3rem;
   font-weight: 400;
   }
.a-common-color{
 color:rgb(230, 83, 60);
}
.a-common-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
   font-family: Inter;
   font-size: 18px;
   font-weight: 600;
}
.a-common-heading{

}
.a-common-pera{
    color: rgba(255, 255, 255, 0.5);
    
    font-size: 16px;
    font-weight: 400;
}
.flex{
    display: flex;
}
.ac{
    align-items: center;
}
/* here is my common and reset code ends here */
/* nav style is start from here */

   .nav-bar{
    max-width: 90%;
    height: auto;
    /* border: 2px solid green; */
    margin: 0 auto;
    margin-top: 57px;
    color: white;
    justify-content: space-between;
    text-align: center;
   }
  
   .nav-menu a{
    margin-right: 47px;
    text-decoration: none;
    color: white;
    
   }
   .fitness-h2{
    font-size: 2rem;
    font-weight: 800;
   }
   
   .nav-sb{
   color: rgb(255, 255, 255);
   font-family: Inter;
   font-size: 18px;
   font-weight: 600;
   border-radius: 46px;
   background: rgb(230, 83, 60);
   width: 92px;
   height: 38px;
   padding: 8px 20px 8px 20px;
   }
   .hamburg-menu{
    display: none;
    font-size: 2rem;
    cursor: pointer;
   }
   .nav-bannar{
    max-width: 90%;
    height: auto;
    /* border: 2px solid blue; */
    margin: 4rem auto 0 auto; 
   }
  .banner{
    color: white;
    position: relative;
  }
  .bold{
    color: rgb(255, 255, 255);

    font-size: 78px;
    font-weight: 900;
    width: 520px;
    height: 282px;
  }
  .ex-paragrapg{
    width: 520px;
  }
.banner-right{
     margin-left: 150px;
}
.download-btn{
    width: 224px;
    height: 54px;
    
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: black;
    color: white;
    margin-left: 1.8rem;
}
.card-1{
    width: 206px;
    height: 96px;
    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 400px;
    left: 550px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.youtube-icon {
    color: red;
    margin-right: 8px;
}
.card-2{
    width: 193px;
    height: 98px;
    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 100px;
    left: 890px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.dumbbell-icon {
    color: #FFD700; 
    margin-right: 8px; 
}
/* nav style is start ends here */



/* here is my mediaquery for 576px's device */
    @media screen and (max-width:576px){
        /* navbar query */
        .nav-menu{
            display: none;
        }
        .nav-bar{
            justify-content: space-between;
            width: 100%;
        }
        .hamburg-menu{
            display: block;
        }

        /* banner responsive here */
        .banner{
            flex-direction: column;
            align-items: flex-start;
        }
        .bold {
            font-size: 36px;
            width: 100%;
            height: auto;
        }
    
        .ex-paragrapg {
            width: 100%;
        }
    
        .banner-left {
            width: 100%;
            margin-bottom: 20px;
        }
         .button-container{
            display: flex;
            gap: 10px;
         }
        .download-btn {
            margin-left:0;
            margin-top: 0px;
        }
    
        .banner-right {
            width: 100%;
            margin-left: 0;
        }
    
        .banner-right img {
            width: 100%;
            height: auto;
        }
    
        .card-1 {
            top: auto;
            left: auto;
            bottom: 30%;
            right: 50%;
            width: 155.74px;
            height: 72.58px;
            margin-top: 20px;
        }
    
        .card-2 {
            top: auto;
            left: auto;
            bottom: 50%;
            right: 10%;
            width: 145.91px;
            height: 74.09px;
            margin-top: 20px;
        }
    }
    